
/* Style Scrollbars */
body,.vis-vertical-scroll {
  & {
   // Foreground, Background
   scrollbar-color: #39ff14 #333;
  }
  &::-webkit-scrollbar {
   width: 10px; // Mostly for vertical scrollbars
   height: 10px; // Mostly for horizontal scrollbars
  }
  &::-webkit-scrollbar-thumb { // Foreground
   background: #999;
  }
  &::-webkit-scrollbar-track { // Background
   background: #333;
   background: transparent;
  }
}
