$highlight: rgb(57,255,20);

#visualization {
  .vis-timeline {
    border: 0;
    font-family: inherit;
    font-size: 14px;
    background: transparent;
  }

  .vis-item {
    border-color: #39ff14;
    background-color: transparent;
    color: black;
    border-radius: 0px;
    &.vis-range {
      background-color: #39ff14;
    }
    .vis-item-overflow {
      overflow: visible;
    }
    .vis-item-content {
      padding: 2px 3px 1px;
    }
  }

  .vis-item,
  .vis-item.vis-line {
    border-width: 1px;
  }

  .vis-item.vis-dot {
    // css triangle:
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #000;
  }

  .vis-item.vis-selected {

    &.vis-range {
      border-color: $highlight;
      background-color: $highlight;
    }
    &.vis-point {
      .vis-dot {
        border-top-color: $highlight;
      }
    }
  }

  .vis-time-axis .vis-text {
    color: black;
    padding-top: 10px;
    padding-left: 10px;
  }

  .vis-time-axis .vis-text.vis-major {
    font-weight: bold;
  }

  .vis-time-axis .vis-grid.vis-minor {
    border-width: 2px;
    border-color: #39ff14;
  }

  .vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: #39ff14;
  }

  .vis-label {
    //background: red;
    //cursor: pointer;
  }

  .vis-group.g_Typeface {
    //opacity: .5;
  }

  .vis-current-time {
    background-color: transparent;
    border-left: 1px dotted black;
    width: 0;
  }
}
