@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap');

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html,body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-size: 20px;
  //font-size: clamp(20px, 4vw, 40px);
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  //color: $body-text-color;
}

th {
  font-weight: inherit;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 6rem;
  line-height: .9;
}

h2 {
  margin: .6rem .9rem;
}
p + h2 {
  margin-top: 1.2rem;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  //color: yellow;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .1em;
}

footer {
  font-size: 14px;
  letter-spacing: .02em;
  text-align: center;
}
