@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 200;
  src: url(../assets/type/IBMPlexSans-ExtraLight.ttf) format("ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url(../assets/type/IBMPlexSans-Regular.ttf) format("ttf");
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html,body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

th {
  font-weight: inherit;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 6rem;
  line-height: .9;
}

h2 {
  margin: .6rem .9rem;
}
p + h2 {
  margin-top: 1.2rem;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .1em;
}

footer {
  font-size: 14px;
  letter-spacing: .02em;
  text-align: center;
}
